In [1]:
import json
import random
import pandas as pd

In [2]:
with open("data/country.geojson") as file:
    json_decoded = json.load(file)

In [3]:
suicide_country_year = pd.read_csv("output data/suicide_country_year.csv", index_col=0)
suicide_country_year.head()

   country iso_abr  year  suicides_no  population  suicides_per100kpop
0  Albania     ALB  2002          133     2818839                 4.72
1  Albania     ALB  2003          124     2843929                 4.36
2  Albania     ALB  2004          146     2874991                 5.08
3  Albania     ALB  2005            0     2783320                 0.00
4  Albania     ALB  2006            0     2780176                 0.00

In [4]:
suicide_country_year.dtypes

country                 object
iso_abr                 object
year                     int64
suicides_no              int64
population               int64
suicides_per100kpop    float64
dtype: object

In [5]:
#json_decoded

In [6]:
for feature in json_decoded['features']:
    for year in range(2002,2017):

        country = feature['properties']['ISO_A3']

        try:
            suicide_rate = suicide_country_year.loc[(suicide_country_year.year==year)&(suicide_country_year.iso_abr==country)].suicides_per100kpop.item()
            feature['properties'][f's{year}'] = suicide_rate
        except ValueError:
            feature['properties'][f's{year}'] = 0

        # feature2002.append(feature['properties'])

In [7]:
with open("output data/country_15years.geojson", 'w') as outfile:
    json.dump(json_decoded, outfile)

In [8]:
#json_decoded